# Ethereum Network Configuration
SEPOLIA_URL=https://sepolia.infura.io/v3/9141b17c03cd41009ba4ca480441e501
PRIVATE_KEY=f5aad660838230aa0604d011cf696d3297543b13fb97e99b8315f1a9e1ee26b5

# Optional: Etherscan API Key for contract verification
ETHERSCAN_API_KEY=your_etherscan_api_key_here

# Stellar Network Configuration
STELLAR_TESTNET_RPC=https://soroban-testnet.stellar.org
STELLAR_MAINNET_RPC=https://soroban-mainnet.stellar.org 